.Wrapper {
  display: flex;
  flex-direction: row;
  font-family: 'Pacifico', cursive;
  height: 100%;
}

.header {
  width: 600px;
  background-color: #E9EEF6;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}


/* Card */
.card-status {
  padding: 5px;
  background-color: #fdeaf0;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fe4576;
}

.Done {
  color: #74cc14;
  background-color: #ecfde6;
}

.Doing {
  color: #28c5f9;
  background-color: #e1f7fe;
}


/* Sidebar Style */

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #fff;
  transition: all 0.5s;
  position: fixed;
  z-index: 999;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

li a.dropdown-toggle::after {
  display: inline-flex;
  position: relative;
  left: 60%;
  top: 10%;
}

.nav-menu {
  font-size: 17.5px;
  font-weight: 600;
  width: 70%;
}

.nav-menu>li {
  margin: 20px;
  color: #9ca9b9;
  cursor: pointer;
  display: flex;
  width: 100%;
}

.nav-menu>li:hover {
  color: #000;
}


.side-menu::-webkit-scrollbar {
  width: 10px;
}


@media only screen and (max-width: 500px) {

  .sidebar{
    display: none;
  }

  .sidebar.is-open {
    min-width: 100%;
    max-width: 100%;
    margin-left: 0;
    transition: all 0.5s, height 0s;
    display: block;
  }

  .sidebar.is-open>.sidebar-header span {
    display: unset;
  }

  li a.dropdown-toggle::after {
    display: inline-block;
    position: relative;
    left: 68%;
  }
}